<mat-toolbar class="shadow bottom app-toolbar">
    <a routerLink="" routerLinkActive="active-link">
        <img src="assets/img/logo2.png"/>
    </a>
    <span class="example-spacer"></span>
    <button routerLink="" routerLinkActive="active-link" class="element" mat-flat-button *ngIf="isModerateur">Gestion</button>
    <button routerLink="/catalog" routerLinkActive="active-link" class="element" mat-flat-button>Catalogue</button>
    <button routerLink="/cart" routerLinkActive="active-link" class="element" mat-flat-button>Panier</button>
    <a class="material-icons md-36" *ngIf="!isConnected">
        login
    </a>
    <a class="material-icons md-36" *ngIf="isConnected">
        logout
    </a>
</mat-toolbar>