
   <mat-grid-list cols="3" rowHeight="2:1" gutterSize="5px">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <mat-card>
        <div class="title">
          <h1>{{product.libelle}}</h1>
        </div>
        <div class="imageArticle">
          <img mat-card-image src="../assets/img/legumes.jpg" *ngIf="product.categorie=='Legume'" alt="Image of the product" class="imgProduct">
          <img mat-card-image src="../assets/img/fruits.jpg" *ngIf="product.categorie=='Fruit'" alt="Image of the product" class="imgProduct">
        </div>
        <div class="info">
          <span><b>Catégorie :</b> {{product.categorie}}</span>
        </div>
        <div class="info">
          <span><b>Origine :</b> {{product.provenance}}</span>
        </div>
        <div class="description">
          <span><b>Description :</b></span>
          <p>{{product.description}}</p>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card>
        <div class="price center">
          <h1><b>{{product.prix}} €</b> unité</h1>
        </div>
        <div class="center">
          <button mat-raised-button color="primary" class="button" (click)="addToCart(product)">
            <span>Ajouter au panier</span>
          </button>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>