<div class="container">
  <div class="table">
		<div class="table-header">
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Libelle</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Categorie</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Description</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Provenance</a></div>
      <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Prix unitaire</a></div>
      <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Quantité</a></div>
      <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Prix lot</a></div>
      <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Actions</a></div>
		</div>
		<div class="table-content">	
			<div class="table-row" *ngFor="let product of cart.items">		
				<div class="table-data">{{product.idProduct.libelle}}</div>
				<div class="table-data">{{product.idProduct.categorie}}</div>
				<div class="table-data">{{product.idProduct.description}}</div>
				<div class="table-data">{{product.idProduct.provenance}}</div>
				<div class="table-data">{{product.idProduct.prix}} €</div>
        <div class="table-data">{{product.quantity}}</div>
        <div class="table-data">{{product.price}} €</div>
        <div class="table-data">
          <button (click)="removeLineFromCart(product.idProduct._id)" color="warn" mat-button>Supprimer</button>
        </div>
			</div>
		</div>	
	</div>
</div>
<div class="info">
  <span><b>Total:</b> {{cart.subTotal}} €</span>
</div>