<div class="form">

<!-- <div class ="bloc-photo">
  <div class="product-image">
    <img src={{product.urlImage}} alt="" class="product-pic">
  </div>
    <div class="upload-image">
      <input type="file" [(ngModel)]="product.urlImage" class="file-input" accept="image/*"  (change)="onFileSelected($event)" #fileUpload>
       </div> 
  </div> -->
  <div class="product-details">
    <p style="white-space: pre-line" class="errorMsg" [hidden]=isValidForm> {{message }}</p> 
    <div>
      <mat-form-field appearance="fill"  >
        <input matInput [(ngModel)]="product.libelle">
        <mat-hint>Libelle</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="product.description">
        <mat-hint>Description</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-hint>Catégorie</mat-hint>
        <mat-select [(ngModel)]="product.categorie">
          <mat-option value="Fruit">Fruit</mat-option>
          <mat-option value="Legume">Legume</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="product.provenance">
        <mat-hint>Provenance</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <input matInput type="Number" class="example-right-align" [(ngModel)]="product.prix">
        <span matSuffix>€&nbsp;</span>
        <mat-hint>Prix</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <input matInput type="Number" type="Number" min="1" required class="example-right-align" [(ngModel)]="product.quantity">
        <span matSuffix>Unité(s)</span>
        <mat-hint>Quantité</mat-hint>
      </mat-form-field>
    </div>
    <!-- <div>
      <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
    </div> -->
    <div class="actions">          
      <button mat-raised-button class="button" (click)="saveProduct()"  color="primary">Enregistrer</button>
    </div>
  </div>
</div>