.page{
    background-color: rgb(245, 245, 245);
}
  .title{
    margin: 0 auto;
  }

  .product {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;

  }
 