.page{
    background-color: rgb(204, 204, 204);
}
  .title{
    margin: 0 auto;
  }

  .product {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    text-overflow: ellipsis;
  }
  .imgProduct{
    height: 15vw;
  }
  button:hover{
    color: green;
}