<div class="homeDiv">
    <div class="bannerDiv part">
        <img src="assets/img/banner.png" class="banner"/>
        <div class="bannerText">
            <h1>Bienvenue chez Court-Circuit !</h1>
            <span>Court-Circuit est une société qui se veut proche de nos artisans et nos agriculteurs locaux.<br />
                Nous souhaitons favoriser le développement du commerce en circuit court, en mettant en avant les produits proches de chez vous.<br />
                Notre but est donc de laisser le choix à un acheteur de se rapprocher directement auprès du producteur pour son achat ou d'utiliser notre service d'achat en ligne.<br />
                Afin d'aider les producteurs à gérer ce nouveau flux de distribution, nous mettons également à leur disponibilité un service de gestion de commande (à venir).
            </span>
            <button routerLink="/catalogue" routerLinkActive="active-link" mat-raised-button class="center" color="primary">Découvrez les produits proches de chez vous</button>
        </div>
    </div>
    <div class="descriptionDiv center part container">
        <div class="title">
            <h1>Être client et collaborateur Court-Circuit</h1>
        </div>
        <div class="text">
            <span>Nous recherchons en continu à mettre en avant les produits locaux et pour cela, nous avons besoin de vous !<br />
                Rejoignez cette aventure afin d'aider nos agriculteurs, artisans français mais également pour venir en aide à notre commerce local, nos centre-ville.<br />
                Pour nous aider, c'est simple. Si vous connaissez un agriculteur ou un artisan local qui a besoin de notre solution, allez le lui proposer !<br />
                Grâce à cet engagement, vous aurez alors une commission sur les produits commandez sur notre plateforme pour le professionnel que vous avez aidé.
            </span>
        </div>
    </div>
</div>