<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<div class="testbox">
  <h1>Inscription</h1>

  
  <hr>
  <div>
    <label id="icon" for="nom"><i class="icon-envelope "></i></label>
    <input type="text" [(ngModel)]="email" placeholder="Email" required/>
  </div>
  
  <div>

  </div>
  <label id="icon" for="nom"><i class="icon-user"></i></label>
  <input type="text" [(ngModel)]="nom" placeholder="Nom" required/>
  
  <div>
    <label id="icon" for="nom"><i class="icon-user"></i></label>
    <input type="text" [(ngModel)]="prenom" placeholder="Prenom" required/>
  </div>
  
  
  <div>
    <label id="icon" for="nom"><i class="icon-shield"></i></label>
    <input type="password" [(ngModel)]="password" placeholder="Mot de passe" required/>
  </div>
  
  
   
  <div class="footer">
    <span> </span>
    <button mat-raised-button color="warn" class="button" (click)="submit()">
       <span>S'inscrire</span>
    </button>
    <img src="assets/img/logo2.png" class="logo"/>
  </div>
</div>